body{
	margin: 5px 0;
	background-color: #212121;
	text-align: center;
}
div{
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

div{
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

div.padding{
	padding: 10px;
}

input{
	background-color: #424242 !important;
	color: #E0E0E0;
	border: none !important;
}
textarea{
	background-color: #424242 !important;
	color: #E0E0E0;
	border: none !important;
}

button{
	text-align: center;
	margin: 5px 0;
	background-color: #E0E0E0 !important;
    color: #212121;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: none !important;
}